* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ---------------------  Modifiche a tag */

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;

}

ul {
    list-style: none;
}

li {
    padding: 8px 
}

a {
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    color: green;
}

img {
    width: 100%;
}

/* ---------------------- dimensioni titoli */

h1 {
    font-size: 65px;
    padding: 40px 0px;
}


/* ---------------------- button */

.button {
    border: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 8px;
    color: white;
    background-color: rgb(32, 101, 246); 
}

.button:hover {
    background-color: green;
}


.button-large {
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 8px;
    padding: 8px;
    color: white;
    background-color: rgb(32, 101, 246); 
}

.button-large:hover {
    background-color: green;
}


/* ----------------------  modifiche nav */

.nav-mod {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    
}

.nav-align {
    display: flex;
    justify-content:center;
    align-items: center;
}


/* ------------------------ contenitori  */


.conteiner-large {
    max-width: 1100px;
    margin: 0 auto;
}

.resize-box-40 {
    width: 40%;
}

.resize-box-60 {
    width: 60%;
}

.main-flex {
    display: flex;
}


/* ----------------------- classi section */

.fill {
    background-color: rgb(185, 208, 229); 
    margin-top: 67.5px;
}